.body
  .header
    .header__group__name
      group name
      .header__group__name__member
        Member:
    .header__edit
      Edit
  .chat
    .message
      .message__name
        shouya
      .message__date
        2019/10/08/19:14:39
    .past__message
      this is a first message