.top
  .top__left
    ユーザーネーム
  .top__right
    =link_to "#", class: "top__btn" do
      = icon('fas', 'edit')
      %span<>
    =link_to "#", class: "top__btn" do
      = icon('fas', 'cog')
      %span<>

.contents
  .contents__group
    .contents__group__name
      test
    .contents__group__message
      まだメッセージはありません
  .contents__group
    .contents__group__name
      test2
    .contents__group__message
      まだメッセージはありません