$messagecolor: #434A54;


.header {
  width: calc(100vw - 380px);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-bottom-color: #eeeeee;
  padding: 0 40px 0;
  &__group__name {
    font-size: 20px;
    color: #333333;
    padding: 35px 0 0;
    &__member {
      font-size: 12px;
      color: #999999;
      padding: 15px 0 0;
    }
  }
  .edit {
    border: 1px solid;
    border-color: #38AEF0;
    color: #38AEF0;
    padding: 0 20px 0;
    height: 40px;
    line-height: 40px;
    margin-top: 28px;
    text-decoration: none;
  }
}
.messages {
  background-color: #fafafa;
  width: calc(100vw - 300px);
  height: calc(100vh - 189px);
  overflow: scroll;
  .message {
    padding: 0 40px 0;
    .upper-message {
      padding: 46px 0 10px;
      display: flex;
      &__user-name {
        font-size: 16px;
        font-weight: bold;
        color: $messagecolor;
      }
      &__date {
        font-size: 12px;
        color: #999999;
        padding-left: 10px;
      }
    }
    .lower-message {
      font-size: 14px;
      color: $messagecolor;
    }
  }
}
.form {
  box-sizing: border-box;
  height: 90px;
  padding: 20px 40px 20px 40px;
  background-color: #ddd;
  &__message {
    border: none;
    float: left;
    height: 50px;
    width: calc(100% - 160px);
    padding: 0 0 0 10px;
  }
  &__mask {
    background-color: #ffff;
    float: left;
    height: 50px;
    padding-right: 10px;
    .icon {
      font-size: 20px;
      line-height: 50px;
    }
    .hidden {
      display: none;
    }
  }
  &__submit {
    background-color: #38AEF0;
    border: none;
    color: #ffff;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
}
